#container {
  background-color: #73777b;
  text-align: center;
  float: right;
  margin-bottom: 10px;
  margin-top: -125px;
  height: 150px;
  width: 400px;
}

#text {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
  border: 0rem;
}

.sect {
  background-color: #dbdffd;
  height: 300px;
  width: 950px;
  margin-top: 50px;
  margin-left: 250pt;
  margin-right: 100pt;
  border: 0em;
}
.last {
  background-color: #3f76cf;
  color: white;
  height: 50px;
  width: 700px;
  border-radius: 7pt;
  margin-top: 30pt;
  margin-left: 300pt;
  margin-right: 250pt;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.first-section {
  display: block;
  border: 1px;
  height: 350px;
  width: 950px;
  margin-bottom: 25px;
  margin-top: 100px;
  margin-left: 150pt;
  margin-right: 150pt;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

div,
.first-section {
  background-color: #151d3b;
  border-style: solid;
  box-sizing: content-box;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 20pt;
  font-weight: 700;
}

h3 {
  font-weight: 100;
  padding-top: 70pt;
  padding-bottom: 10pt;
  padding-left: 70pt;
  padding-right: 60pt;
  font-style: italic;
}

h4 {
  font-size: 15pt;
}

ul,
li {
  list-style: none;
  display: inline;
  float: right;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0.815);
}

header {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 50px;
}
